body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0; /* Classic light gray background */
    margin: 0;
    padding: 0;
}

nav {
    background-color: #ff4d4d; /* Red background for the navigation bar */
    color: #ffffff; /* White text color */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff; /* White text color for links */
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6b6b; /* Change text color on hover */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
}

h1 {
    color: #333; /* Dark gray heading color */
    margin-bottom: 20px;
}

form label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

form input[type='number'],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #333; /* Dark gray button background */
    color: #ffffff; /* White button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background-color: #555; /* Slightly darker gray on hover */
}

.output {
    display: none;
    margin-top: 20px;
}

.output table {
    width: 100%;
    border-collapse: collapse;
}

.output th,
.output td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px 0;
    background-color: #333; /* Dark gray footer background */
    color: #ffffff; /* White text color */
}
